:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --subtitle-text-color: #2E2F42;
    --primary-white-color: #FFFFFF;
     
  }
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;}

    
.list {
        list-style: none;
      }
      
.link {
        text-decoration: none;
      }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: var(--subtitle-text-color);
  }
  
.section-text {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
  
.section-title {
    font-size: 36px;
    line-height: 2.5em;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--title-text-color);
  }

/*------Header-------*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
  
    }
.logo-S {
    color: var(--primary-text-color);
    }
.logo-SL {
  color: #F4F4FD;
}
.site-nav {
  list-style: none;
}


.site-nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.site-nav-list:hover,
.site-nav-list:focus {
  color: #4D5AE5;
}

.auth-nav-link {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2E2F42;
  font-style: normal;
}
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: #4D5AE5;
}
/*--------Hero-------*/
.hero {
  background-color: #2E2F42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.75em;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
    
.hero-button
{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: var(--accent-color) ;
}

.portfolio-button-all
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    background-color: var(--accent-color) ;
}
.portfolio-button
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    color: var(--subtitle-text-color) ;
    background-color:#F4F4FD;
}
.hero-button:hover,
.hero-buttonk:focus {
  color: #434455;
}
.portfolio-button-all {
  font-size: 18px;
}
.portfolio-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: var(--accent-color);
 
}
 .team-item-text{
  color: #434455;
 }
 .portfolio-card-text {
  color: #434455;
 }
 .footer {
  background-color: #2E2F42;
 }
 
.footer-text {
color: #E7E9FC;
}
      